<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/google-analytics', { head: false }) %>
  <%- partial('_partial/header') %>
  <div class="container">
    <div class="columns">
      <div class="main column is-8">
        <%- body %>
      </div>
      <div class="sidebar column is-4">
        <%- partial('_partial/sidebar') %>
      </div>
    </div>
  </div>
  <%- partial('_partial/footer') %>
</body>
</html>
