<%- partial('_partial/head') %>
<body itemscope itemtype="http://schema.org/WebPage">
  <%- partial('_partial/header') %>
  <div class="container">
    <div class="columns">
      <div class="main column">
        <%- body %>
      </div>
      <div class="sidebar column is-4">
        <%- partial('_partial/sidebar') %>
      </div>
    </div>
  </div>
  <%- partial('_partial/footer') %>
</body>
</html>
