<div class="widget-wrap">
  <div class="widget-title"><%= __('widget.author') %></div>
  <aside class="profile media widget">
    <figure class="profile-avatar media-left">
      <img src="<%=config.avatar %>" class="avatar" alt="<%=config.author %>">
    </figure>
    <div class="media-content">
      <p>
        <strong>
          <span><%=config.author %></span>
          <span class="icon">
            <a href="<%- url_for(theme.contact.url) %>" target="_blank">
              <i class="fa fa-<%=theme.contact.icon %>"></i>
            </a>
          </span>
        </strong>
        <br>
        <span><%= config.author_title %></span>
      </p>
    </div>
  </aside>
</div>
