<%
if (post.thumbnail) {
  const sizeClass = type ? `is-${type}` : "";
  if (hasLink) { %>
  <a href="<%- url_for(post.link ? post.link : post.path) %>">
    <img src="<%=post.thumbnail %>" class="thumbnail <%=sizeClass %>" alt="<%=post.title %>">
  </a>
<% } else { %>
  <img src="<%=post.thumbnail %>" class="thumbnail <%=sizeClass %>" alt="<%=post.title %>">
<% }
} %>
